.wrapper {
    display: block;
    width: 100%;
    min-height: 100dvh;
    padding-top: 15px;
}

.todoList {
    margin: 0;
    padding: 0;
    margin-top: 15px;
    height: fit-content;
    list-style: none;
}

.todoList li {
    background-color: var(--mantine-color-dark-5);
    margin: 10px 0px;
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.delBtn, .doneBtn {
    display: inline-block;
    margin: 1px 5px;
    margin-bottom: 10px;
}

.delBtn {
    background-color: var(--mantine-color-red-7);

}

.doneBtn {
    background-color: var(--mantine-color-orange-7);

}

.done, .active {
    display: block;
    line-height: 35px;
    font-weight: bold;
    text-align: center;
}


.done {
    background-color: var(--mantine-color-green-9);
}

.active {
    background-color: var(--mantine-color-blue-9);
}

.expired {
    display: block;
    line-height: 40px;
    font-weight: bold;
    background-color: var(--mantine-color-red-9);
}


.notodo {
    background-color: var(--mantine-color-red-9);
    line-height: 35px;
    display: block;
    width: 100%;
    padding: 5px 15px;
}